/*
    Alex Dollar
    /styles.css
    04-12-2021
*/

:root {
    --transparent: rgba(0, 0, 0, 0);
    --white: #FFFFFF;
    --black: #000000;
    --grey: #7F7F7F;
    --light-grey: #BFBFBF;
    --dark-grey: #3F3F3F;
    --purple: #A680FF;
    --red: #FF8080;
    --trans-grey: rgba(127, 127, 127, 0.5);
    --font: Helvetica;
    --image: url(./assets/images/image.png);
    /* CHANGE ME */
}

.debug {
    border: 1px solid black;
}

html,
body {
    width: 100%;
    height: 100%;
    color: var(--light-grey);
    margin: 0;
    font-family: var(--font);
    font-size: 1em;
    background-image: var(--image);
    background-size: cover;
    background-attachment: fixed;
}

body * {
    z-index: 100;
    position: relative;
}

nav.nav {
    display: block;
    width: 100%;
    height: auto;
    background-color: var(--transparent);
    padding: 10px;
    box-sizing: border-box;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
}

nav a {
    text-decoration: none;
    display: inline;
    padding: 5px;
    width: min-content;
    height: fit-content;
    text-align: center;
}

nav a.selected {
    text-decoration: underline;
    color: var(--purple)
}

div.container {
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow: auto;
}

header.header {
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    font-weight: bold;
    text-align: center;
}

footer.footer {
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: var(--trans-grey);
}


/* PHONE */

@media only screen and (max-width: 480px) {
    div.toc {
        display: none;
        box-sizing: border-box;
    }
    div.content {
        display: block;
        width: 100%;
        height: auto;
        box-sizing: border-box;
    }
    aside.aside {
        display: block;
        width: 100%;
        height: auto;
        box-sizing: border-box;
    }
    nav ul {
        display: none;
        padding: 0;
        margin: 0;
    }
    a#navicon {
        display: block;
        font-size: 2em;
        color: var(--purple);
    }
    a#navicon:hover+ul,
    nav ul:hover {
        display: block;
    }
}


/* TABLET */

@media only screen and (min-width: 481px) and (max-width: 767px) {
    div.container {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row nowrap;
        flex-flow: row nowrap;
    }
    div.toc {
        display: none;
    }
    div.content {
        display: block;
        height: auto;
        -webkit-flex: 1 1 67%;
        flex: 1 1 67%;
    }
    aside.aside {
        display: block;
        height: auto;
        -webkit-flex: 1 1 33%;
        flex: 1 1 33%;
    }
    nav ul {
        display: none;
        padding: 0;
        margin: 0;
    }
    a#navicon {
        display: block;
        font-size: 2em;
        color: var(--purple);
    }
    a#navicon:hover+ul,
    nav ul:hover {
        display: block;
    }
}


/* DESKTOP (Increse from 768px to 1000px) *Maybe* */

@media only screen and (min-width: 768px) {
    div.container {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row nowrap;
        flex-flow: row nowrap;
    }
    div.toc {
        display: block;
        overflow-x: hidden;
        -webkit-flex: 1 1 15%;
        flex: 1 1 15%;
    }
    div.content {
        display: block;
        height: auto;
        -webkit-flex: 1 1 60%;
        flex: 1 1 60%;
    }
    aside.aside {
        display: block;
        height: auto;
        -webkit-flex: 1 1 25%;
        flex: 1 1 25%;
    }
    nav ul {
        display: -webkit-flex;
        display: flex;
    }
    a#navicon {
        display: none;
    }
}


/* Helper Rules */

button {
    font-size: 1em;
    font-family: var(--font);
}

footer.footer a,
footer.footer a:visited,
footer.footer a:hover,
footer.footer a:active {
    color: var(--white);
}

a,
a:visited,
a:hover,
a:active {
    color: var(--white);
}

hr {
    margin: 0px;
    height: 5px;
    background-color: var(--grey);
}

img,
image {
    width: 100%;
}

p {
    margin-top: 16px;
    margin-bottom: 16px;
}

div.toc>div {
    overflow-x: scroll;
    width: 100%;
    max-width: 100%;
}


/* Helper Classes */

.button {
    display: inline-block;
    background-color: var(--purple);
    border-radius: 5px;
    padding: 10px;
    margin: 4px;
    color: var(--white);
    font-weight: bold;
    border: 0px;
    box-sizing: border-box;
}

.button-block {
    display: block;
    background-color: var(--purple);
    border-radius: 5px;
    padding: 10px;
    margin: 4px;
    color: var(--white);
    font-weight: bold;
    border: 0px;
    box-sizing: border-box;
}

.button:hover,
.button-block:hover {
    background-color: var(--dark-grey);
    color: var(--purple)
}

.button:active,
.button-block:active {
    background-color: var(--dark-grey);
    color: var(--red);
}

.no-deco {
    text-decoration: none;
}

.color {
    color: var(--purple);
}

ul.pro-list,
ol.pro-list {
    list-style-type: none;
    margin: 0;
}

ul.rev-list,
ol.rev-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

div#storm {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}

div.storm-element {
    background-color: #007FFF7F;
    position: absolute;
}

.star-1::before {
    content: "⭐";
}

.star-2::before {
    content: "⭐ ⭐";
}

.star-3::before {
    content: "⭐ ⭐ ⭐";
}

.star-4::before {
    content: "⭐ ⭐ ⭐ ⭐";
}

.star-5::before {
    content: "⭐ ⭐ ⭐ ⭐ ⭐";
}